hr
.row.col-lg-10.col-md-12.col-sm-12.col-12.mt-3.mx-auto.justify-content-end
  select#inlineFormCustomSelect.custom-select.col-lg-5.col-md-5.col-sm-11.mx-auto.rent_select
    option(selected='', value='전체') 전체
    option(value='명지대정문') 명지대정문
    option(value='명지대후문') 명지대후문
    option(value='덕곡마을') 덕곡마을
    option(value='동진마을') 동진마을
  script(src='/javascripts/select_rent.js')
  
  .input-group.row.col-lg-5.col-md-5.col-sm-12.mb-3.no-gutters
    //- form()
    form.form-inline.search-input-group.col-lg-12.col-md-12.col-sm-12.justify-content-end(action='/rent', method='GET')                      
      input#autocomplete.form-control.col-lg-7.col-md-7.col-sm-12(type='text', name='term', placeholder='Search locate or building', aria-label='Search', value=term)
      button.btn#rent_search.col-lg-5.col-md-5.col-sm-12(type='submit') Search 
  script(src='/javascripts/rent_search.js')

.row.col-lg-10.col-md-12.col-sm-12.col-12.mx-auto.mt-4      
  if (currentUser)
    a.btn.btn-primary(href=`/rent/${currentUser._id}?_method=GET`)
      | 니방 올리기
|
.row.col-lg-10.col-md-12.col-sm-12.mx-auto.no-gutters.rent_list
  each rent in rents.docs
    if (!rent.sell)
      a.border-4.card.mb-3.col-lg-4.col-md-6.col-sm-12.mt-3.rent_room(href=`/rent/detail/${rent.id}`)
        if rent.img
          img.card-img-top#rentimg(src=rent.img[0], alt='Card image cap')
        else
          img.card-img-top#rentimg( alt='Card image cap')
        .card-body
          p.card-text
            p=rent.locate
            p=rent.detail_address
