.row.col-lg-12.col-md-12.col-sm-12.col-12.mx-auto.mt-3.no-gutters
  #carouselExampleFade.carousel.slide.carousel-fade.col-lg-8.col-md-8.col-sm-12(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100#slideimg(src=rent.img[0], alt='First slide')
      - var len = rent.img.length;        
      - var n = 1;
      while n < len
        .carousel-item
            img.d-block.w-100#slideimg(src=rent.img[n], alt='slide')
        - n++
    a.carousel-control-prev(href='#carouselExampleFade', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleFade', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
     

  .row
    .card-body    
      p 지역 : #{rent.locate}
      p 건물이름 : #{rent.detail_address}
      p 기간 : #{rent.start_time} ~ #{rent.end_time}
      p 가격 : #{rent.amount}
      p 적정인원 : #{rent.suitable_person}
      p 좋아요 : #{rent.numLikes}
      .buttons
        if currentUser
          button.btn.btn-color.rent-like-btn(data-id=rent.id) 
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] Like
            
          script(src='/javascripts/rent_like.js')
          
      if currentUser && rent.author == currentUser.id
        a.btn.btn-primary.btn-lg(href=`/rent/${rent._id}?_method=DELETE`)
          | 방 삭제
        a.btn.btn-primary.btn-lg(href=`/rent/${rent._id}/edit`) 
          | 방 수정
        a.btn.btn-primary.btn-lg(href=`/rent/${rent._id}/sell?_method=PUT`) 
          | 판매 완료

      if currentUser
        a.btn.btn-primary.btn-lg(href=`/rent/${rent._id}/${currentUser.id}/email?_method=POST`) 판매자에게 이메일 보내기

//- 옵션
include _option
include _comment

//