//- 사진업로드
.row.col-lg-12.col-md-12.col-sm-12.mx-auto
  h1.mx-auto 방올리기
.row.col-lg-12.col-md-12.col-sm-12.col-12.mx-auto
  .form-group#file-section.col-lg-7.col-12.mx-auto
    label(for="img")
    input#file.form-control(type="file" , multiple="multiple")
    if rent.img
      -for (var i = 0; i < rent.img.length; i++)
        input(name='img[]' , value=rent.img[i])
    img#preview.img-fluid(src="")

  script.
      $(function() {
          $("#preview").hide();
          $("#file").change(function() {
              var files = $("#file")[0].files;
              console.log(files)
              for(file of files){
                  console.log(file)
                  if (file) {
                      var url = "/s3?filename=" + encodeURIComponent(file.name) + 
                              "&type=" + encodeURIComponent(file.type);
                      console.log(url);
                      const img_file = file;
                      $.getJSON(url, function(resp) {
                          console.log(resp.signedRequest);
                          $.ajax({
                              url: resp.signedRequest,
                              method: 'PUT',
                              data: img_file,
                              headers: {'x-amz-acl': 'public-read', 'Content-Type': img_file.type},
                              processData: false, 
                              contentType: img_file.type,
                              success: function() {
                                  $("#preview").attr("src", resp.url).show();
                                  $("#file-section").append("<input name='img[]' value='" + resp.url + "'>");
                                  //- $("#url").val(resp.url);
                              }
                          });
                      });
                  }
              }
          });
      });

.row.col-lg-12.col-md-12.col-sm-12.mx-auto
  //- 지역
    
  .form-group.col-lg-7.col-sm-12.mx-auto
    label(for='locate') 지역
    input.form-control(type='locate', id='locate', name='locate', placeholder='locate' value = rent.locate)

  //- 건물이름, 호수
  .form-group.col-lg-7.col-sm-12.mx-auto
    label(for='detail_address') 건물이름, 호수
    input.form-control(type='detail_address', id='detail_address', name='detail_address', placeholder='detail_address' value=rent.detail_address)

  //- 기간
  //- 시작 기간
  .form-group.col-lg-7.col-sm-12.mx-auto
    label(for='start_time') 시작 날짜
    input.form-control(type='start_time', id='start_time', name='start_time', placeholder='start_time' value=rent.start_time)

  //- 끝나는 기간
  .form-group.col-lg-7.col-sm-12.mx-auto
    label(for='end_time') 종료 날짜
    input.form-control(type='end_time', id='end_time', name='end_time', placeholder='end_time' value=rent.end_time)

  //- 가격
  .form-group.col-lg-7.col-sm-12.mx-auto
    label(for='amount') 가격
    input.form-control(type='amount', id='amount', name='amount', placeholder='amount' value=rent.amount)

  //- 적정인원
  .form-group.col-lg-7.col-sm-12.mx-auto
    label(for='suitable_person') 적정 인원
    input.form-control(type='suitable_person', id='suitable_person', name='suitable_person', placeholder='suitable_person' value=rent.suitable_person)

//- 옵션
.row.col-lg-8.col-md-12.col-sm-12.mx-auto
  .form-check.col-lg-4.col-10.mx-auto
    label.form-check-label.mx-auto
      input#inlineCheckbox1.form-check-input(type='checkbox', name="tv")
      |  TV
  .form-check.col-lg-4.col-10.mx-auto
    label.form-check-label.mx-auto
      input#inlineCheckbox2.form-check-input(type='checkbox', name='elevator')
      |  엘베
.row.col-lg-8.col-md-12.col-sm-12.mx-auto
  .form-check.col-lg-4.col-10.mx-auto
    label.form-check-label.mx-auto
      input#inlineCheckbox2.form-check-input(type='checkbox', name='bed')
      |  침대
  .form-check.col-lg-4.col-10.mx-auto
    label.form-check-label.mx-auto
      input#inlineCheckbox2.form-check-input(type='checkbox', name='wardrobe')
      |  옷장
.row.col-lg-8.col-md-12.col-sm-12.mx-auto
  .form-check.col-lg-4.col-10.mx-auto
    label.form-check-label.mx-auto
      input#inlineCheckbox2.form-check-input(type='checkbox', name='washer')
      |  세탁기
  .form-check.col-lg-4.col-10.mx-auto
    label.form-check-label.mx-auto
      input#inlineCheckbox2.form-check-input(type='checkbox', name='gaslens')
      |  가스레인지
.row.col-lg-8.col-md-12.col-sm-12.mx-auto
  .form-check.col-lg-4.col-10.mx-auto
    label.form-check-label.mx-auto
      input#inlineCheckbox2.form-check-input(type='checkbox', name='internet')
      |  랜선
  .form-check.col-lg-4.col-10.mx-auto
    label.form-check-label.mx-auto
      input#inlineCheckbox2.form-check-input(type='checkbox', name='water')
      |  정수기                    

  //- WYSIWYG
  //- CK editor
  //- 상세설명
.row.col-lg-12.col-md-12.col-sm-12.mx-auto.mt-3
  .form-group.col-lg-7.col-md-12.col-sm-12.mx-auto
    label(for='info') 상세설명 (다시 입력해주세요)
    textarea#editor(name="info" value=rent.info)
      |
    script.
      ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
          console.error( error );
        } );
.row.col-lg-12.col-md-12.col-sm-12.mx-auto.mt-3.mb-5
  button.btn.registerbutton.btn-primary.col-lg-6.col-10.mx-auto(type="submit") 니방올리기 