.row.col-lg-9.col-md-12.col-sm-12.mx-auto
  .col-lg-12.col-md-12.col-sm-12.mx-auto
    h1.mb-3.center=building_detail.building_name
    img.img-fluid.center(src=building_detail.img,alt="Responsive image")

  h2.col-lg-12.col-md-12.col-sm-12.mx-auto.recommendation.mt-3
    | 추천해요~! #{building_detail.numLikes}

  .col-lg-12.col-md-12.col-sm-12.mx-auto
    if currentUser && !flag
      button.btn.btn-color.review-like-btn(data-id=building_detail.id) 
        span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
        span #[i.fa.fa-thumbs-up] Like
      script(src='/javascripts/review_like.js')
    else if currentUser && flag
      button.btn.btn-color.review-dislike-btn(data-id=building_detail.id) 
        span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
        span #[i.fa.fa-thumbs-up] DisLike
      script(src='/javascripts/review_dislike.js')

.row.col-lg-9.col-md-12.col-sm-12.mx-auto.mt-3 
  .col-lg-12.col-md-12.col-sm-12.mx-auto
    include _comment
